:root{ /* Fonts */ --font-osw: 'Oswald', sans-serif; --font-ral: 'Raleway', sans-serif; /* Colors Primaria */ --white: #d5d5d5; --amar: #d1e000; /* Colors Neutro */ --azul-grisaceo: #1f2730; --azul-grisaceo-claro: #2d3844; --azul-grisaceo-oscuro: #141a1f; }
* { box-sizing: border-box; margin: 0; padding: 0; }
body { background-color: var(--azul-grisaceo-oscuro); font-family: var(--font-ral); font-size: 18px; }
.encb { width: 100%; height: 50px; margin-bottom: 15px; background-color: var(--azul-grisaceo); color: var(--white); display: flex; padding: 5px 10px; gap: 10px; align-items: center; justify-content: center; }
.encb__logo { width: 40px; height: 40px; }
.encb__logtitle { font-family: var(--font-osw); font-size: 1.25em; font-weight: 500; text-align: center; letter-spacing: 2.5px; }
.content { margin: 20px auto; width: 500px; height: 1200px; background-color: var(--azul-grisaceo); border-radius: 12px; }
.content__articles { padding: 15px 10px; width: 500px; height: 1200px; display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr 1fr 1fr 1fr 1fr; grid-template-areas: "art1" "art2" "art3" "art4" "art5"; overflow: hidden; gap: 10px; }
.article1 { grid-area: art1; border-radius: 12px; }
.article2 { grid-area: art2; border-radius: 12px; }
.article3 { grid-area: art3; border-radius: 12px; }
.article4 { grid-area: art4; border-radius: 12px; }
.article5 { grid-area: art5; border-radius: 12px; }
.content__articles__article__imgCar { width: 200px; height: 120px; }
.imgCar5 { width: 330px; height: 120px; }
.imgCar4 { width: 251px; height: 155px; }
.imgCar3 { width: 251px; height: 155px; }
.imgCar2 { width: 251px; height: 155px; }
.imgCar1 { width: 256px; height: 150px; } 
.content__articles__article { background-color: var(--azul-grisaceo-claro); color: var(--amar); font-weight: 300; font-size: .93em; font-family: var(--font-ral); letter-spacing: 2px; text-align: center; justify-content: center; align-items: center; transition: all .56; }
.content__articles__article:hover { color: var(--white); background-color: var(--azul-grisaceo-oscuro); }
.infos { background-color: var(--azul-grisaceo); width: 100%; height: 70px; padding: 10px 30px; color: var(--azul-grisaceo-claro); font-family: var(--font-osw); font-size: 0.93em; font-weight: 400; letter-spacing: 1px; display: flex; justify-content: center; flex-direction: column; }
.infos__text { grid-area: text; }
span { color: #d1e000; font-weight: 300; font-size: .98em; }
.infos__link1 { grid-area: li1; color: var(--amar); font-size: .90em; text-decoration: none; }
.infos__link2 { grid-area: li2; color: var(--amar); font-size: .90em; text-decoration: none; position: fixed; bottom: 0;}
@media (min-width: 1000px) {
  .encb { display: flex; align-items: center; justify-content: flex-start; }
  .content, .content__articles { width: 950px; height: 900px; } .content__articles { display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr 1fr; grid-template-areas: "art1 art1" "art2 art3" "art4 art5"; margin: 20px auto; }
  .content__articles__article { padding: 10px 10px; }
  .infos { display: flex; justify-content: center; align-items: flex-start; }
}
@media (min-width: 1200px) {
  .encb { display: flex; align-items: center; justify-content: flex-start; }
  .content { width: 1200px; height: 500px; margin: 92.5px auto; }
  .content__articles { width: 1200px; height: 500px; display: grid; grid-template-columns: repeat(6, 1fr); grid-template-rows: 1fr 1fr; grid-template-areas: "art1 art1 art1 art2 art2 art2" "art3 art3 art4 art4 art5 art5"; margin: 20px auto; }
  .content__articles__article { padding: 10px 10px; } 
  .infos { display: flex; justify-content: center; align-items: flex-start; }
}